page-tab {

}
.bar .bar-positive{
    background-color: #470B7F;
    color:#470B7F;
}
.toolbar-background{
    background-color: #470B7F;
    color:#470B7F;
}
.tabs-color-active-positive, .tabs {
    color: #c49137 !important;
}