page-tab {

}
.bar .bar-positive{
    background-color: #470B7F;
    color:#470B7F;
}
.toolbar-background{
    background-color: #470B7F;
    color:#470B7F;
}

.tab-item.dash.tab-item-active, .tab-item.dash.active, .tab-item.dash.activated {
    color: $energized !important;
}