page-login {

}

.bar .bar-positive{
    background-color: #470B7F;
    color:#FFFFFF;
    
}
.toolbar-background{
    background-color: #470B7F;
    color:#FFFFFF;
}

.labeluno{
    color:white;
    background: #470B7F;
    border-radius: .3em;
   padding: 0.3em 1em;
   font-size: 1em;
}
.labeluno span{
    color:#9B59B6;
}
.titulo-color{
    color: #FFFFFF;
}